* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 1rem 0;
  padding: 1rem;
  font-family: sans-serif;
  color: #fff;

  h1 {
    color: rgb(225, 225, 20);
    margin-bottom: 1rem;
  }

  nav {
    margin-bottom: 1rem;
    background-color: #222;
    padding: 0.5rem;
    a {
      color: #aaa;
      text-decoration: none;
      margin-right: 1rem;

      &:hover {
        color: rgb(88, 143, 69);
      }

      &.active {
        color: yellow;
      }
    }
  }
}
