* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  margin: 1rem 0;
  padding: 1rem;
  font-family: sans-serif;
  color: #fff;

  h1 {
    color: rgb(225, 225, 20);
    margin-bottom: 1rem;
  }

  nav {
    margin-bottom: 1rem;
    background-color: #222;
    padding: 0.5rem;
    a {
      color: #aaa;
      text-decoration: none;
      margin-right: 1rem;

      &:hover {
        color: rgb(88, 143, 69);
      }

      &.active {
        color: yellow;
      }
    }
  }

  .pageWelcome {
    .welcomePage {
      font-size: larger;
      .club,
      .loading {
        margin-top: 0.5rem;
        color: greenyellow;
      }

      .loading {
        span {
          color: cornflowerblue;
        }
      }

      .club {
        span {
          color: rgb(191, 136, 136);
          /* font-size: larger; */
          /* font-weight: bold; */
        }
      }
    }
  }

  .pageBooks {
    .pageBook {
      background-color: #222;
      display: flex;
      margin: 1rem 0;
      padding: 1rem;

      img {
        width: 10rem;
      }
      .bookInfo {
        margin-left: 1rem;

        .title {
          font-size: 2rem;
          color: rgb(212, 212, 133);
          margin-bottom: 1rem;
        }

        .description {
          font-size: 1.25rem;
          color: #ddd;
          font-style: italic;
        }
      }
    }
  }
}
